In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [133]:
data = pd.read_excel('C:/Users/Wazir/Downloads/Chart_View.xls', index_col=0, parse_date = True, sheet_name =1)

In [134]:
data = data.dropna()
data.sort_index(inplace = True)
data = data.reindex(sorted(data.columns), axis=1)

In [135]:
data.shape

(1289, 20)

In [136]:
index = []
for i in range(0, 20, 2):
    index.append((i, i+1))

In [137]:
df = pd.DataFrame()
for column in data.columns:
    data[column + ' Mean'] = data[column].rolling(window = 260).mean()
    data[column + ' Std'] = data[column].rolling(window = 260).std()
    df[column + ' Norm'] = (data[column] - data[column + ' Mean'])/data[column + ' Std']

for idx in index:
    df[df.columns[idx[0]] +' Net'] = df[df.columns[idx[0]]] - df[df.columns[idx[1]]]
    
data.sort_index(inplace = True)

df = df.dropna()
df = df.iloc[:, -10:]

for column in df.columns:
    df[column + ' Sum'] = df[column].rolling(window=20).sum()
    
df = df.iloc[:, -10:]
df.dropna(inplace = True)

rank = df.tail(1)
rank.columns = ['AUD', 'CAD', 'CHF', 'EUR', 'GBP', 'JPY', 'NOK', 'NZD', 'SEK', 'USD']
rank.T.sort_values(by= rank.T.columns[0], ascending=False)

Date  2021-02-09
NOK    15.292280
SEK    10.121437
CHF     6.291043
USD     6.063982
CAD     5.280990
AUD     4.836279
JPY    -1.914447
EUR    -4.189691
NZD    -9.992741
GBP   -10.420561